.fondo-azul {
    background-color: lightblue;
}

.fondo-gris {
    background-color: lightgray;
}
nav a:hover {
    color: red;
    text-decoration: underline;
}
ol li:first-child {
    font-weight: bold;
}

ol li:last-child {
    color: red;
}